
input[type='button'] {
    width: 5em;
    height: 5em;
    border-radius: 100%;
    border: none;
    margin-right: .5em;
    margin-left: 1em;
    margin-bottom: .5em;
    font-size: 18px;
}

#calcContainer {
    background-color: black;
    width: 30em;
    height: 40em;
}

.grayButton {
    background-color: gainsboro;
    color: black;
}

.numbers {
    background-color: #5c5b58;
    color: white;
}

.goldButton {
    background-color: #f5b505;
    color: white;
}

#calcInput {
    width: 98.5%;
    background-color: black;
    border-color: black;
}

#calcInput {
    height: 10em;
    border: none;
    text-align: right;
    font-size: 15px;
    color: white;
}

#zero {
    width: 11.5em;
    border-radius: 75em;
}